body {background: rgb(165, 156, 156)}

.navbar {
  padding: 0px;
  margin: 0px; 
  background: white}

/* need to add specifications to the navbar and navbar-default */

.navbar-default .navbar-brand {
  background: rgb(29, 175, 168);
  text-align: center; 
  font-size: 30px; 
  font-weight: bold;
  color: white}

img {
  height: 35%;
  width: 35%;
}

h1{
  color: rgb(29, 175, 168);
  font-weight: bold;}
h2{
  color: rgb(29, 175, 168);
  font-weight: bold;}
h3{
    color: rgb(29, 175, 168);
    font-weight: bold;
    align:center;}

.container {
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: rgb(165, 156, 156);
}

div {
  padding: 10px;
  margin: 10px;
  background-color: white; 
}

