body {background: rgb(165, 156, 156)}

.navbar {
  padding: 0px;
  margin: 0px; 
  background: white}

.navbar-default .navbar-brand {
  background: rgb(29, 175, 168);
  text-align: center; 
  font-size: 30px; 
  font-weight: bold;
  color: white}

img {
  height: 40%;
  width: 40%;
}

h1{
  color: rgb(29, 175, 168);
  font-weight: bold;}
h2{
  color: rgb(29, 175, 168);
  font-weight: bold;}
h3{
    color: rgb(29, 175, 168);
    font-weight: bold;
    align:center;}

.container {
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: rgb(165, 156, 156);
}

div {
  background-color: white; 
}

.visualization {
  padding: 10px;
  margin: 10px;
}

.comparison-container {
  float: center;
  margin: 0px;
  padding: 0px;
}

article {
  background-color: white; 
  padding: 30px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .navbar {
    background-color: rgb(29, 175, 168);
  }


.summary {
  height: 85%;
}